<nav>    
    <a href="/"><img src="/logo-lateral-oscuro.svg" alt="logo"></a>        
    <ul>
        <li><a href="/">Inicio</a>
        <li><a href="/futuras-tareas">Futuras Tareas</a>
        <li><a href="/about">About</a>
        <li><a href="/ping">isAlive</a>
    </ul>
</nav>