<nav class="user-nav" >
    <div class="container nav nav--user">
        <ul class="nav__ul">
            <li><a href="/user">Inicio</a>
            <li><a href="/youtube">Youtube</a>
        </ul>
        <!-- Los siguientes links son como de otra sección -->
        <ul class="nav__ul">
            <li><a href="/">Salir</a>
            <li class="pinga"><a href="/ping">isAlive</a>
        </ul>
    </div>    
</nav>