    <footer>
        <div class="container footer">
            <p class="footer__texto">by OsoTripolar</p>
            <a href="https://oseto.onrender.com/"><img class="footer__logo" src="/logo-isotipo-claro.svg" alt="logo"></a>
        </div>
    </footer>

    <script>

        document.addEventListener('keydown',(e)=>{// Función easter egg: atajo provisional a dev
            if(e.ctrlKey && e.key === 'ñ'){
                window.location.href = '/user';
            }
        })

    </script>