    <footer>
        <div class="container footer">
            <p class="footer__texto">by OsoTripolar</p>
            <a href="https://oseto.onrender.com/"><img class="footer__logo" src="/logo-isotipo-claro.svg" alt="logo"></a>
        </div>
    </footer>











    <script>
        // Funci칩n easter egg 
        console.log('Creaci칩n de atajo a dev')
        document.addEventListener('keydown',(e)=>{
            // if(e.altKey && e.key === '침'){
            if(e.ctrlKey && e.key === '침'){
                window.location.href = '/user';
            }
        })

    </script>