<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Error 404 : Página no encontrada</title>
</head>
<body>
    <%- include('./partials/partial-nav-all.ejs') %>
    <main>
        <h1> ERROR 404</h1>
        <p> No se encontró tu contenido</p>
        <a href="/">Volver al inicio</a>
    </main>
    <%- include('./partials/partial-footer.ejs') %>
</body>
</html>