<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles-user.css">
    <link rel="stylesheet" href="/styles-youtube.css">
    <title>Oseto: Agenda</title>
</head>
<body>
    <%- include('./partials/partial-nav-all.ejs') %>
    <%- include('./partials/partial-nav-user.ejs') %>




    <main>
        <div class="container main">

            <div class="list-container">
                
                <h1 class="list-title">Futuras Actividades</h1>
                <p class="list-description">Tabla recursiva para saber como construir diversas listas</p>

                <!-- FORMULARIO -->
                <form class="list-form">
                    <input class="form__input-text" id="inputText" type="text">
                    <input class="form__input-date" id="inputDate" type="date" min="2025-08-31">
                    <button class="form__button-sumbmit" id="btnAddDate" type="submit">Añadir Fecha</button>
                </form>
                
                <!-- TABLA -->
                <div class="table__container">

                    <table>
                        <thead>
                            <tr>
                                <th class="th-first">Fecha</th>
                                <th class="th-second">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody class="rows">
                        </tbody>
                    </table>

                </div>
                
            </div>

        </div>
    </main>





    <template>
        <tr>
            <td class="td-fecha td-first">2012-12-12</td>
            <td class="td-description td-second">Apocalipsis Mundial</td>
        </tr>
    </template>





    <script src="/agenda.js"></script>
<%- include('./partials/partial-footer.ejs') %>
</body>
</html>