<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Oseto: Futuras Tareas</title>
</head>
<body>
    <%- include('./partials/partial-nav-all.ejs')  %>
    <main>
        <div class="container main">
            <h1>Lista de futuros proyectos</h1>
            <ul >
                <li>Creacion de Webs</li>
                <li>Instalaciones de programas o algo así</li>
                <li>Modelación de Base de Datos</li>
                <li>Utils: reloj - lista de tareas</li>
            </ul>
        </div>
        </main>
    <%- include('./partials/partial-footer.ejs') %>
</body>
</html>