<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Oseto</title>
</head>
<body>
<%- include('./partials/partial-nav-all.ejs') %>
    <main>
        <h1>Bienvenidos a la página principal</h1>
        <p>Cómo podemos ver acá pues aún no hay contenido.</p>
    </main>
<%- include('./partials/partial-footer-all.ejs') %>
</body>
</html>