<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles-youtube.css">
    <title>Oseto</title>
</head>
<body>
<%- include('./partials/partial-nav-user.ejs') %>
    <main>
        <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=co73jXupP2M">Yarita Corazón Serrano</a></li>
            <li><a target="_blank" href="https://youtu.be/38Uv2HN9nlQ?si=iKKyolnJti9wtl_i">Tropical Andina </a></li>
            <li><a target="_blank" href="https://youtu.be/15iEJ0qY_70?si=MKDrmOQYjzzbI88D">Papasito</a></li>
        </ul>
    </main>
<%- include('./partials/partial-footer-all.ejs') %>
</body>
</html>