*{
    box-sizing: border-box;   
}

body {

    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: gainsboro;
    
}

a {
    text-decoration: none;
}

.container{
    width: 95%;
}

/* NAV */

nav {
    height: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: gray;
}

.nav{
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.nav__img {
    width: 250px;
}

.nav__ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 15px;
    margin: 0;

    list-style: none;
}

.nav__ul a {
    
    margin: 0;
    color: white;

}

.nav__ul a:hover {
    color: gray;
}


/* MAIN */


main{
    padding-bottom: 22px;

    display: flex;
    align-items: start;
    justify-content: center;
    flex: 1; /* muy importante para que el main encaje bien y no desborde */
}   

main a{
    text-decoration: underline;
    color: inherit;
}

main button{
    height: 23px;
    width:  120px;
    display: block;

    font-size: small;
    text-decoration: none;
    text-align: center;

    background-color: rgb(0, 0, 0);
    color: white;

    border: none;
}    

main ul{
    padding: 0px 17px;
}

main li{
    margin-bottom: 4px;
}



/* FOOTER */

footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: gray;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__texto {
    font-size: 18px;
}

.footer__logo {
    height: 29px;
}

/* RESPONSIVE */

@media(max-width: 600px){
    body{
        max-height: 100vh;
    }

    .container{
        width: 85%;
    }

    .nav{
        flex-direction: column ;
    }

    .nav__img{
        margin-top: 15px;
    }

}